.ThemeButton {
  height: 206px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.test {
  height: 200px;
  width: 100px;
  background-color: black;
}

#button {
  width: 100px;
  height: 100px;
}
