.SvgCard {
  display: grid;
  width: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  justify-content: space-between;
  border: calc(2px + 0.4vw) solid;
  border-radius: calc(2px + 0.8vw);
  box-shadow: 0 7vw 2vw -5vw rgba(0, 0, 0, 0.5);
  margin-top: 4vh;
}

.SvgCard > div {
  display: flex;
  width: 30vw;
  height: 22.5vw;
  margin: 1%;
}

.Svg {
  width: 100%;
  height: 100%;
}

.ImageText {
  height: 100%;
  width: 100%;
  padding: 0% 4% 0% 4%;
  overflow-y: scroll;
}

.ButtonSection {
  display: flex;
}

.FavButton {
  flex: 1;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 6vw;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  margin-top: 0.5vw;
}

.FavButton2 {
  flex: 1;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 6vw;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  margin-top: 0.5vw;
}

.RedirectButtons {
  flex: 1;
  background: transparent;
  font-size: 6vw;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.RedirectButtons:hover {
  color: green;
}

.FavButton2:hover {
  color: red;
}

@media screen and (max-width: 550px) {
  .SvgCard {
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    align-content: space-between;
  }
  .SvgCard > div {
    width: 60vw;
    height: 45vw;
    min-width: 200px;
    min-height: 150px;
  }
  .RedirectButtons {
    font-size: 10vw;
  }
}
