.SvgCard {
  display: grid;
  width: auto;
  grid-template-columns: 48% 48%;
  grid-template-rows: 1fr;
  padding: 1%;
  padding-right: 2.2%;
  justify-content: space-between;
  border: calc(2px + 0.4vw) solid;
  border-radius: calc(2px + 0.8vw);
  box-shadow: 0 7vw 2vw -5vw rgba(0, 0, 0, 0.5);
}

.SvgCard > div {
  display: flex;
  width: 30vw;
  height: 22.5vw;
}

.Svg {
  width: 100%;
  height: 100%;
}

.ImageText {
  height: 100%;
  width: 100%;
  padding: 0% 4% 0% 4%;
  overflow-y: scroll;
}

.FavButton {
  width: 100%;
  height: 100%;
  border-radius: calc(2px + 0.8vw);
  background-color: transparent;
  color: white;
  border: 2px solid #4caf50;
  padding: 1vw 0.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 0.5vw;
  transition-duration: 0.4s;
  cursor: pointer;
}

.FavButton:hover {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 550px) {
  .SvgCard {
    grid-template-rows: 48% 48%;
    grid-template-columns: 1fr;
    align-content: space-between;
    padding: 2%;
    padding-bottom: 3.5%;
  }
  .SvgCard > div {
    width: 60vw;
    height: 45vw;
    min-width: 200px;
    min-height: 150px;
  }
}
