.Container {
  margin-top: 60px; /* Margin to bring content below the navigation bar */
}

.SvgCard {
  background-color: white;
  width: 60vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.SvgContainer {
  background-color: #280c34;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextContainer {
  background-color: #280c34;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
