.sun {
  fill: url(#sun);
}

.earth-orbit {
  fill: none;
  stroke: grey;
  stroke-width: 0, 2;
}

/*Earth and moon*/
.earth-group {
  transform-origin: center;
  animation: earth-group 10s linear infinite;
}

.earth {
  fill: url(#earth);
  transform-origin: center;
  animation: rotation-earth 5s linear infinite;
}

.moon {
  fill: url(#moon);
}

.moon-orbit {
  fill: none;
  stroke: grey;
  stroke-width: 0.2;
}

.moon-group {
  transform-origin: center;
  animation: moon-group 5s linear infinite;
}

/*animation*/

@keyframes earth-group {
  0% {
    transform: rotate(0deg) translate(100px);
  }
  100% {
    transform: rotate(-360deg) translate(100px);
  }
}
@keyframes rotation-earth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moon-group {
  0% {
    transform: rotate(0deg) translate(20px);
  }
  100% {
    transform: rotate(-360deg) translate(20px);
  }
}
